<li>{% if product.inSale %}<strong>[SALE]</strong> {% endif %}{{ product.title }}
    - {{ product.price|number_format(2, ',', '.') }} (Rating: {{ random(10) }}/10,
    Comments: {{ product.comments|length > 0 ? product.comments|length : '-' }})
    {% if product.comments|length > 0 %}
        <ul>
            {% for comment in product.comments %}
                <li>{{ loop.index }}. {{ comment.author }}: {{ comment }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</li>
