{% extends 'inheritance/base.html.twig' %}

{% block title %}
    {{ parent() }} - Product list
{% endblock %}

{% block heading %}
    {{ parent() }} - Product list
{% endblock %}

{% block content %}
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            {% include product.inSale ? 'inheritance/_product.html.twig' : 'inheritance/_product_sale.html.twig' with {'product': product} only %}
        {% endfor %}
    </ul>
{% endblock %}
