<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ eshopName }}</title>
    {# Bootstrap assets #}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="padding-top: 50px;">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ eshopName }}</a>
        </div>
    </div>
</div>

<div class="container">
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.title }} - {{ product.price|number_format(2, ',', '.') }} (Rating: {{ random(10) }}/10)</li>
        {% endfor %}
    </ul>
</div>

{# JavaScripts - always at bottom #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
